.container {
  flex: 0 0 100%;
  cursor: pointer;
  text-decoration: none;
  color: #feffff;
  margin: 2em 0;
}
.image {
  border-radius: .25em;
}
.container p {
  color: #3aafa9;
  font-weight: bold;
  letter-spacing: .25em;
}
.container h3 {
  color: #feffff;
}
@media(min-width: 768px) {
  .container {
    flex: 0 0 47.82%;
  }
}
@media(min-width: 1200px) {
  .container {
    flex: 0 0 31.5%;
  }
}