.section > div {
  max-width: 768px;
  margin: 10em auto;
  padding: 0 1em;
}
.section h1 {
  text-align: center;
}
.section a {
  text-decoration: none;
  color: #3aafa9;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.description > div {
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.description > p {
  padding-left: 0.5em;
}
.codeSection {
  border-bottom: 1px solid #feffff;
  font-size: 16px;
}
.codeHeader {
  background-color: #3aafa9;
  color: #feffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.25em 0.25em 0 0;
}
.copyButton {
  font-family: monospace;
  color: #feffff;
  border-radius: 0.25em;
  width: 60px;
  height: 30px;
}
.copyButton:hover {
  background-color: #247c7c;
  transition: all 0.3s ease-in-out;
}
.codeBlock {
  margin: 0;
  padding: 1em;
  overflow-x: auto;
}
.thumbnail {
  border-radius: 0.25em;
}
