$black: #17252a;
$green: #3aafa9;
$white: #feffff;
$darkgreen: #2b7a78;
$light: #def2f1;

@mixin cta-theme($color: $green) {
  border-color: $color;
  color: $color !important;
}
.cta {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.cta-green {
  @include cta-theme($color: $green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cta-green:hover {
  background-color: $green;
  transition: 0.3s ease-in-out;
}
.dark .cta-green:hover {
  color: $black !important;
  transition: 0.3s ease-in-out;
}
.light .cta-green:hover {
  color: $white !important;
  transition: 0.3s ease-in-out;
}
.cta-white {
  @include cta-theme($color: $white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cta-white:hover {
  background-color: $white;
  color: $green !important;
  transition: 0.3s ease-in-out;
}