$black: #17252a;
$green: #3aafa9;
$white: #feffff;
$darkgreen: #2b7a78;
$light: #def2f1;

footer {
  padding: 2.5em 1em;
}
footer > div {
  max-width: 576px;
  margin: 0 auto;
}
.social-links {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
}
.social-links a {
  padding: 0 0.5em;
}
.copyright {
  text-align: center;
  padding-top: 1em;
}
.copyright-dark {
  border-top: 2px solid $light;
}
.copyright-light {
  border-top: 2px solid $black;
}
.scroll-top {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.scroll-top > button {
  font-size: 16px;
  font-weight: 500;
}