// colors
$black: #17252a;
$green: #3aafa9;
$white: #feffff;
$darkgreen: #2b7a78;

// scrollbar
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: $green;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $darkgreen;
  transition: .3s ease-in-out;
}

// theme
.dark {
  background-color: $black;
  color: $white;
}
.dark a {
  color: $white;
}
.light {
  background-color: $white;
  color: $black;
}
.light a {
  color: $black;
}

// nav
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1em;
}
.nav-dark {
  background-color: $black;
}
.nav-light {
  background-color: $white;
}
nav > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-weight: 700;
}
.nav-col-right {
  display: flex;
  align-items: center;
}
.nav-btns {
  display: flex;
}
.nav-btns button {
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.nav-bars {
  margin-left: 1em;
}
.nav-hide {
  right: -280px;
  transition: .3s;
}
.nav-show {
  right: 0 !important;
  transition: .3s;
}
.nav-list-container {
  position: fixed;
  background-color: $darkgreen;
  width: 280px;
  top: 0;
  right: -280px;
  height: 100vh;
  transition: .3s;
}
.nav-close {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}
.nav-close button {
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-list li {
  padding: 0.5em 2em;
}
.nav-list a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: $white;
}
@media (min-width: 992px) {
  .nav-bars {
    display: none !important;
  }
  .nav-list-container {
    display: block;
    position: relative;
    background-color: transparent;
    height: inherit;
    width: initial;
    right: 0;
  }
  .nav-close {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  .nav-list li {
    padding: 0.5em 1em;
  }
  .nav-link-light {
    color: $black !important;
  }
  .nav-list a:hover {
    color: $green !important;
    transition: .3s ease-in-out;
  }
}

// sections
section {
  padding: 5em 1em;
}
section > div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.section-title {
  padding-bottom: 1em;
}
.section-title span {
  color: $green;
}
.about-section {
  background-color: $green;
  color: $white;
}
.about-title {
  text-align: center;
  letter-spacing: 4px;
}
.about-card {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.about-image-wrapper {
  padding-bottom: 2.5em;
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}
.about-content {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: auto;
}
.about-content a {
  color: $white;
}
.about-content p {
  padding-bottom: 1.5em;
}
.about-email-link {
  text-decoration: underline;
}
.about-card {
  display: flex;
  flex-wrap: wrap;
}
.projects-title {
  text-align: center;
  letter-spacing: 4px;
}
.project-card {
  padding: 2.5em 0;
  display: flex;
  flex-wrap: wrap;
}
.project-card-content {
  padding-bottom: 2.5em;
}
.project-card-content h3 {
  padding-bottom: 1em;
}
.project-card-content p {
  padding-bottom: 1.5em;
}
.contact-section {
  background-color: $green;
  color: $white;
  text-align: center;
}
.contact-title {
  letter-spacing: 4px;
  padding-bottom: 0.5em !important;
}
.contact-section a {
  margin: 0 auto;
}
.contact-section p {
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  .about-image-wrapper {
    flex: 0 0 50%;
    padding-right: 1em;
    padding-bottom: 0;
  }
  .about-content {
    flex: 0 0 50%;
    padding-left: 1em;
    max-width: initial;
    margin: 0;
  }
  .project-card-content,
  .project-card-image {
    flex: 0 0 50%;
    padding-bottom: 0;
  }
  .project-card-content {
    padding-right: 1em;
  }
  .project-card-image {
    padding-left: 1em;
  }
}
@media (min-width: 992px) {
  .about-section {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 10em;
  }
  .contact-section {
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding-top: 10em;
  }
}

// call to action
@mixin cta-theme($color: $green) {
  border-color: $color;
  color: $color !important;
}
.cta {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.cta-green {
  @include cta-theme($color: $green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cta-green:hover {
  background-color: $green;
  transition: 0.3s ease-in-out;
}
.dark .cta-green:hover {
  color: $black !important;
  transition: 0.3s ease-in-out;
}
.light .cta-green:hover {
  color: $white !important;
  transition: 0.3s ease-in-out;
}
.cta-white {
  @include cta-theme($color: $white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cta-white:hover {
  background-color: $white;
  color: $green !important;
  transition: 0.3s ease-in-out;
}

// footer
footer {
  padding: 2.5em 1em;
}
footer > div {
  max-width: 576px;
  margin: 0 auto;
}
.footer-social-links {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
}
.footer-social-links a {
  padding: 0 0.5em;
}
.footer-copyright {
  text-align: center;
  padding-top: 1em;
  border-top: 2px solid #def2f1;
}
.footer-scroll-top {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.footer-scroll-top > button {
  font-size: 16px;
  font-weight: 500;
}
