// colors
$black: #17252a;
$green: #3aafa9;
$white: #feffff;
$darkgreen: #2b7a78;
$light: #def2f1;

section {
  padding: 5em 1em;
}
section > div {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}
.section-title {
  padding-bottom: 1em;
}
.section-title span {
  color: $green;
}
.about-section {
  background-color: $green;
  color: $white;
}
.about-title {
  text-align: center;
  letter-spacing: 4px;
}
.about-card {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.about-image-wrapper {
  padding-bottom: 2.5em;
  display: flex;
  justify-content: center;
  flex: 0 0 100%;
}
.about-content {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: auto;
}
.about-content a {
  color: $white;
}
.about-content p {
  padding-bottom: 1.5em;
}
.about-email-link {
  text-decoration: underline;
}
.about-card {
  display: flex;
  flex-wrap: wrap;
}
.projects-title {
  text-align: center;
  letter-spacing: 4px;
}
.project-card {
  padding: 2.5em 0;
  display: flex;
  flex-wrap: wrap;
}
.project-card-content {
  padding-bottom: 2.5em;
}
.project-card-content h3 {
  padding-bottom: 1em;
}
.project-card-content p {
  padding-bottom: 1.5em;
}
.contact-section {
  background-color: $green;
  color: $white;
  text-align: center;
}
.contact-title {
  letter-spacing: 4px;
  padding-bottom: 0.5em !important;
}
.contact-section a {
  margin: 0 auto;
}
.contact-section p {
  padding-bottom: 1em;
}
@media (min-width: 768px) {
  .about-image-wrapper {
    flex: 0 0 50%;
    padding-right: 1em;
    padding-bottom: 0;
  }
  .about-content {
    flex: 0 0 50%;
    padding-left: 1em;
    max-width: initial;
    margin: 0;
  }
  .project-card-content,
  .project-card-image {
    flex: 0 0 50%;
    padding-bottom: 0;
  }
  .project-card-content {
    padding-right: 1em;
  }
  .project-card-image {
    padding-left: 1em;
  }
}
@media (min-width: 992px) {
  .about-section {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 10em;
  }
  .contact-section {
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding-top: 10em;
  }
}
