$black: #17252a;
$green: #3aafa9;
$white: #feffff;
$darkgreen: #2b7a78;

main {
  background-color: $black;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1em;
  background-color: $black;
}

nav > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: 700;
  color: $white;
}

.nav-bars {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nav-list-container {
  position: fixed;
  background-color: $darkgreen;
  width: 280px;
  top: 0;
  right: 0;
  height: 100vh;
}

.nav-close {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  padding: 0.5em 2em;
}

.nav-list a {
  color: $white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

main {
  scroll-behavior: smooth;
}

section {
  padding: 5em 1em;
}

section > div,
footer > div {
  max-width: 576px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  color: $white;
}

.section-title {
  padding-bottom: 1em;
}

.section-title span {
  color: $green;
}

@mixin cta-theme($color: $green) {
  border-color: $color;
  color: $color;
}

.call-to-action {
  display: block;
  max-width: 200px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.hero-cta {
  @include cta-theme($color: $green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero-cta:hover {
  background-color: $green;
  color: $black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about {
  background-color: $green;
  color: $white;
}

.about-title {
  text-align: center;
  letter-spacing: 4px;
}

.about-card {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.about-image-wrapper {
  padding-bottom: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
}

.about-content {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  margin: auto;
}

.about-content p {
  padding-bottom: 1.5em;
}

.about-email-link {
  color: $white;
  text-decoration: underline;
}

.about-card {
  display: flex;
  flex-wrap: wrap;
}

.about-cta {
  @include cta-theme($color: $white);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.about-cta:hover {
  background-color: $white;
  color: $green;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.projects-title {
  color: $white;
  text-align: center;
  letter-spacing: 4px;
}

.project-card {
  color: $white;
  padding: 2.5em 0;
  display: flex;
  flex-wrap: wrap;
}

.project-card-content {
  padding-bottom: 2.5em;
}

.project-card-content h3 {
  padding-bottom: 1em;
}

.project-card-content p {
  padding-bottom: 1.5em;
}

.project-card-cta {
  @include cta-theme($color: $green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.project-card-cta:hover {
  background-color: $green;
  color: $black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact {
  background-color: $green;
  color: $white;
  text-align: center;
}

.contact-title {
  letter-spacing: 4px;
  padding-bottom: 0.5em !important;
}

.contact p {
  padding-bottom: 1em;
}

.contact-cta {
  @include cta-theme($color: $white);
  margin: auto;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact-cta:hover {
  background-color: $white;
  color: $green;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer {
  padding: 2.5em 1em;
}

.footer-social-links {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-social-links a {
  padding: 0 0.5em;
}

.footer-copyright {
  text-align: center;
  color: $white;
  padding-top: 1em;
  border-top: 2px solid #def2f1;
}

.footer-scroll-top {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.footer-scroll-top > button {
  color: $white;
  font-size: 16px;
  font-weight: 500;
}

@media (min-width: 768px) {
  section > div {
    max-width: 768px;
  }

  .about-image-wrapper {
    flex: 0 0 50%;
    padding-right: 1em;
    padding-bottom: 0;
  }

  .about-content {
    flex: 0 0 50%;
    padding-left: 1em;
    max-width: initial;
    margin: 0;
  }
}

@media (min-width: 992px) {
  section > div {
    max-width: 992px;
  }

  .about {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-bottom: 10em;
  }

  .project-card-content,
  .project-card-image {
    flex: 0 0 50%;
    padding-bottom: 0;
  }

  .project-card-content {
    padding-right: 1em;
  }

  .project-card-image {
    padding-left: 1em;
  }

  .contact {
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    padding-top: 10em;
  }

  .nav-bars {
    display: none;
  }

  .nav-list-container {
    display: block;
    position: relative;
    background-color: transparent;
    height: inherit;
    width: initial;
  }

  .nav-close {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
    padding: 0.5em 1em;
  }

  .nav-list a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  section > div {
    max-width: 1200px;
  }
}
